.profile-page{
    width: 54%;
    position: absolute;
    left: 21%;
}

.profile-page > .profile-page-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}

.name-image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.name-image > h1{
    font-size: 2em;
    font-family: "bold";
    margin-left: 12px;
}

.profile-page > .profile-page-header > .name-image > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}