.trend{
    flex:0.14;
}

.wrapper{
    width: 27%;
    height: 100%;
    position: fixed;
    border-left: 1px solid rgba(0,0,0,0.1);
}

.wrapper > button{
    width: 84%;
    height:5vh;
    position: relative;
    margin-top: 10%;
    left: 8%;
    outline: none;
    border: none;
    border-radius: 20px;
    background: black;
    color: white;
    font-size: 0.9em;
}

.search{
    width: 84%;
    height:5vh;
    position: relative;
    margin-top: 10%;
    left: 8%;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 20px;
}

.search > img{
    margin-left:12px;
}

.search > input{
    font: 0.9em;
    outline: none;
    border:none;
    width: 84%;
    height: 5vh;
    margin-left: 8px;
    border-radius:0 20px 20px 0;
}