html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Medium";
  src: url(Font-charter/otf/Charter\ Regular.otf);
}

@font-face {
  font-family: "Light";
  src: url(Font-charter/ProductSans-Light.ttf);
}

@font-face {
  font-family: "bold";
  src: url(Font-charter/ProductSans-Bold.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Light";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}